extends layout

block content
  h1= title

  - var results = [{lenOfTunnel:2, noOfLanes:6, tunnelName:"highland", isOperational:true}, {lenOfTunnel:4, noOfLanes:4, tunnelName:"robust", isOperational:true}, {lenOfTunnel:1, noOfLanes:8, tunnelName:"oversea", isOperational:true}]

  mixin list_div
    each item,i in results
      div(class="row", onClick=`buy(${i})`)
        div(class="col-sm-2")=item.lenOfTunnel
        div(class="col-sm-2")=item.noOfLanes
        div(class="col-sm-2")=item.tunnelName
        div(class="col-sm-2")=item.isOperational
  
  div(class="container-fluid")
    +list_div

  script.
    function buy(i) {
      console.log(i)
      alert(`You purchased item ${i+1}`);
    }